﻿
@model WebApplication1.ViewModel.BMIData

<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">

    <p>
        @Html.DisplayNameFor(m => m.身高)

        @Html.TextBoxFor(d => d.身高)
        公分
        @Html.ValidationMessageFor(modelItem => @Model.身高)<br />


    </p>
    <p>
        @Html.DisplayNameFor(m => m.體重)

        @Html.TextBoxFor(d => d.體重)
        公斤
        @Html.ValidationMessageFor(modelItem => @Model.體重)<br />

    </p>
    <p>
        <input type="submit" name="name" value="送出" />
    </p>
    <p>BMI計算結果:@Model.BMI</p>
    <p>BMI等級:@Model.Level</p>
</form>