﻿
@{
    ViewBag.Title = "html";
}

<h2>html</h2>

<p>姓名<input type="text" name="firstname" />*</p>

<p>帳號<input type="text" name="count" />*</p>

<p>密碼<input type="password" name="paseword" />*</p>

<p>性別
    <input type="radio" name="gender" value="A" />男性
    <input type="radio" name="gender" value="B" />女性
    *
</p>

<p>
    <input type="checkbox" name="inter" value="A" />  訂閱本網站最新知訊</br>
    <input type="checkbox" name="inter" value="A" />  服務條款*</br>
    <input type="checkbox" name="inter" value="A" />  隱私請求*</br>
</p>
<p>*必填</p>
<p>備註</br><textarea></textarea></p>
